@charset "UTF-8";

/*--------------------------------------------------------
???ʃ??C?A?E?g?p?[?c?ݒ?
--------------------------------------------------------*/
/* ?w?b?_?[??p?[?c */
#hpb-headerMain
{
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  height: 24px;
  overflow: hidden;
}

#hpb-headerMain h1
{
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 5px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 10px;
  text-align: left;
  font-weight: normal;
  line-height: 15px;
  font-size: 12px;
  color: #666666;
}

#hpb-headerLogo
{
  width: 400px;
  float: left;
}

#hpb-headerLogo a
{
  display: block;
  margin-top: 5px;
  margin-right: 0;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  text-indent: -9999px;
  overflow: hidden;
  height: 44px;
  background-image : url(Image/logo_3E.png);
  background-position: center left;
  background-repeat: no-repeat;
}

#hpb-headerExtra1
{
  width: 220px;
  margin-top: -15px;
  margin-right: 0px;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  float: right;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #b2e2af;
}

#hpb-headerExtra1 p.tel
{
  padding-top: 5px;
  padding-right: 0px;
  padding-bottom: 3px;
  padding-left: 0;
  line-height: 1.2;
  text-align: center;
  color: #389534;
  font-weight: bold;
  font-size: 1.5em;
  margin: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #B2E2AF;
}

#hpb-headerExtra1 p.tel span
{
  /* ?d?b?ԍ??́uTEL?v?????ݒ?*/
  font-size: 0.6em;
  font-weight: normal;
  color: #333333;
  display: block;
  padding-bottom: 3px;
}

#hpb-headerExtra1 p.address
{
  /* ?Z???????ݒ?*/
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 5px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  text-align: center;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFF;
  font-size: 0.9em;
}

#hpb-headerExtra2
{
}

/* ?t?b?^?[??p?[?c */
#hpb-footerMain
{
}

#hpb-footerMain p
{
  /* ?R?s?[???C?g?????ݒ?*/
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 10px;
  padding-right: 0;
  font-size: 1em;
  line-height: 40px;
  padding-left: 10px;
}

#hpb-footerLogo
{
}

#hpb-footerExtra1
{
}

#hpb-footerExtra2
{
}

/* ?T?C?h?u???b?N??p?[?c */

/* ?o?i?[ */
#banner
{
  overflow: hidden;
}

#banner ul
{
  margin-top: 0px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

#banner li
{
  display: block;
  width: 235px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

#banner li a:link, #banner li a:visited
{
  display: block;
  height: 55px;
  line-height: 55px;
  overflow: hidden;
  background-image : url(Image/banner_3E.png);
  background-position: center center;
  background-repeat: no-repeat;
  color: #3e3e3e;
  text-align: left;
  text-decoration: none;
  font-weight: bold;
  text-indent: 13px;
}
#banner li a:hover, #banner li a:active
{
  background-image : url(Image/banner_3E_on.png);
  color: #d19e00;
  text-decoration: none;
  font-weight: bold;
  text-indent: 13px;
}

/* ?X?܏? */
#shopinfo
{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background-image : url(Image/shopinfoBg_3E.png);
  background-repeat: repeat;
  background-position: left top;
}

#shopinfo h3
{
  color: #b88b00;
  font-size: 1em;
  text-align: left;
  margin-top: 0;
  padding-top: 8px;
  margin-bottom: 0;
  background-color: #FFF;
  padding-right: 10px;
  padding-bottom: 2px;
  padding-left: 10px;
}

#shopinfo span.ja
{
  display: none;
}

#shopinfo p
{
  padding-top: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  line-height: 1.5;
  background-color: #FFF;
  padding-right: 10px;
  padding-bottom: 8px;
  padding-left: 10px;
}

/*--------------------------------------------------------
?i?r?Q?[?V?????f?U?C???ݒ?
--------------------------------------------------------*/

#hpb-nav li a
{
  /* ?i?r?Q?[?V?????????ݒ?*/
}


/*--------------------------------------------------------
???p?[?c?f?U?C???ݒ?
--------------------------------------------------------*/

/* ?????N?????F */
a:link
{
  color: #333333;
  text-decoration: underline;
}
a:visited
{
  color: #333333;
  text-decoration: underline;
}
a:hover
{
  color: #198219;
  text-decoration: none;
}
a:active
{
  color: #198219;
  text-decoration: none;
}

#hpb-skip
{
  /* ?w?b?_?[?X?L?b?v?̔??? */
  height: 1px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-indent: -9999px;
}

p
{
  margin-top: 0.5em;
  margin-bottom: 2em;
  padding-right: 1em;
  padding-left: 1em;
  line-height: 1.4;
  text-align: left;
}

p.large
{
  margin-bottom: -0.5em;
}
p.indent
{
  padding-left: 15px;
  background-image : url(Image/point_3E.png);
  background-position: 3px 4px;
  background-repeat: no-repeat;
}

.left
{
  float: left;
}
.right
{
  float: right;
}
img.center
{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  display: block;
}


hr
{
  width: 100%;
  height: 1px;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  clear: both;
  border-top-width: 1px;
  border-top-style: none;
  border-right-width: 1px;
  border-right-style: none;
  border-left-width: 1px;
  border-left-style: none;
  color: #ffffff;
  border-bottom-width: 1px;
  border-bottom-style: none;
}


.hpb-layoutset-02 h2 span.ja
{
  font-size: 1em;
  color: #ffffff;
  padding-right: 0;
  padding-left: 13px;
  padding-bottom: 3px;
  padding-top: 3px;
}

.hpb-layoutset-02 h2 span.en
{
  font-size: 0.8em;
  color: #D6EFC3;
  font-weight: normal;
  padding-left: 15px;
  text-transform: capitalize;
  font-weight: normal;
}

#hpb-wrapper h3
{
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding-top: 5px;
  padding-left: 7px;
  padding-bottom: 7px;
  font-size: 16px;
  line-height: 18px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCC;
  text-align: left;
  color: #198219;
  padding-right: 7px;
}

#hpb-wrapper h3 span.en
{
  padding-right: 10px;
  text-transform: capitalize;
  font-family: Arial,Helvetica,Verdana,sans-serif;
}

#hpb-wrapper h3 span.ja
{
}

h3.hpb-c-index
{
  height: 1px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-indent: -9999px;
  background: none;
  border-bottom-style: none;
}

h4
{
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 5px;
  padding-right: 12px;
  padding-bottom: 5px;
  padding-left: 12px;
  text-align: left;
  font-size: 1.2em;
  line-height: 1.2;
  font-weight: bold;
  color: #5AB43B;
}

h5
{
  display: inline;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 15px;
  text-align: left;
  background-image : url(Image/point_3E.png);
  background-position: 3px 7px;
  background-repeat: no-repeat;
  font-size: 1.1em;
  line-height: 1.5;
  font-weight: normal;
}

table
{
  margin-top: 5px;
  margin-right: auto;
  margin-bottom: 5px;
  margin-left: 5px;
  border-collapse: collapse;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #dddddd;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #dddddd;
}

table th
{
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
  text-align: left;
  background-color: #FFFDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #dddddd;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #dddddd;
  color: #b88b00;
}

table td
{
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
  text-align: left;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #dddddd;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #dddddd;
}

/* ?t?H?[???p?[?c?ݒ?*/
input.button
{
  margin-top: 10px;
  margin-bottom: 15px;
}

textarea
{
  width: 380px;
  height: 200px;
}

input.l
{
  width: 380px;
}
input.m
{
  width: 250px;
}
input.s
{
  width: 50px;
}


/* ???C???R???e???c????p?[?c */

#hpb-main ul
{
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

#hpb-main ul li
{
  text-align: left;
  line-height: 1.4;
  padding-top: 5px;
  padding-right: 0;
  padding-bottom: 5px;
  padding-left: 18px;
  background-image : url(Image/point_3E.png);
  background-position: 3px 12px;
  background-repeat: no-repeat;
}

#hpb-main dl
{
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

#hpb-main dt
{
  float: left;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  text-align: left;
  line-height: 1.4;
  font-weight: normal;
  width: 9em !important;
  padding-top: 5px;
  padding-right: 0;
  padding-bottom: 2px;
  padding-left: 15px;
  background-image : url(Image/point_3E.png);
  background-position: 3px 10px;
  background-repeat: no-repeat;
}

#hpb-main dd
{
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 6px;
  padding-right: 0;
  padding-bottom: 5px;
  text-align: left;
  line-height: 1.4;
  padding-left: 11em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #dddddd;
}

* #hpb-main dd
{
  height: 1%; /* for IE6 */
}

#hpb-main dl:after
{
  content: ".";
  clear: both;
  height: 0;
  display: block;
  visibility: hidden;
}

#hpb-main img.left
{
  margin-top: 5px;
  margin-right: 20px;
  margin-bottom: 10px;
  float: left;
}

#hpb-main img.right
{
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 20px;
  float: right;
}


/* ?g?b?v?y?[?W ?f?U?C???? */
#toppage-text .large
{
  background-image : url(Image/toppageLead_3E.png);
  background-repeat: no-repeat;
  background-position: 380px 0px;
  font-size: 1.3em;
  font-weight: bold;
  color: #137810;
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 8px;
  padding-right: 0.5em;
  padding-bottom: 13px;
  padding-left: 0.5em;
}

#toppage-news
{
  padding-bottom: 5px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCC;
  background-image : url(Image/toppagenewsBg_3E.png);
  background-repeat: repeat-y;
  background-position: left top;
}

#toppage-news h3
{
  border-bottom-width: 0px;
  border-bottom-style: none;
  margin-bottom: 0px;
  background-image : url(Image/toppagenews_3E.png);
  background-repeat: no-repeat;
  background-position: left top;
}

#toppage-news h3 span.en
{
  display: block;
  font-size: 16px;
  line-height: 26px;
  font-weight: normal;
  color: #333;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 8px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 15px;
}

#toppage-news h3 span.ja
{
  display: none;
}

#toppage-news h4
{
  color: #333333;
  padding-top: 0px;
  padding-left: 0;
  font-size: 1.1em;
}

#toppage-news ul
{
  padding-top: 0px;
  padding-right: 13px;
  padding-bottom: 10px;
  padding-left: 13px;
}
#toppage-news ul li
{
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #CCC;
  margin-top: 10px;
  padding-top: 10px;
}


/* ???Õ??j?y?[?W ?f?U?C???? */
#flow
{
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  zoom: 1;
}

#flow li
{
  display: block;
  background-image : url(Image/arrow_3E.png);
  background-position: left top;
  background-repeat: no-repeat;
  padding-top: 48px;
  padding-bottom: 15px;
  padding-left: 150px;
  list-style-type: none;
  line-height: 1.5;
  margin-bottom: 10px;
}

* html #flow li
{
  padding-left: 300px; /* for IE6 */
}

#flow li:first-child
{
  background-image: none;
  padding-top: 10px;
}

#flow li h4
{
  float: left;
  width: 150px;
  margin-left: -150px;
  margin-top: -3px;
  text-align: center;
}
